body{
    margin: 0;
    padding: 0;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
.container{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    padding-top: 0;
    background-color: black;
    height: 80px;
    color: white;
    display: flex;
    justify-content: end;

}
.menu{
    margin-top: 25px;
    margin-right: 25px;
}
.menu a{
    position: relative;
  /*  color: #18272F;*/
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    color:rgb(194, 192, 192);
    font-size: 20px;
}
a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: 0;
    left: 0;
    background-color: rgb(194, 192, 192);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
a:hover::before{
transform-origin: left;
transform: scaleX(1);
}
.scroll-bar{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    background-image:  url(photo/white.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.scroll-bar h1{
    font-size: 35px;
    margin-top: 0;
    padding-top: 15%;
    padding-left: 15%;
}
.scroll-bar p{
  padding-left: 15%;
}
.aboute{
  background-color: black;
  color:rgb(185, 180, 180);
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  min-height: 400px;
  padding-bottom: 80px;
}
.aboute h2{
  margin-top: 0;
  padding-top: 10%;
  padding-left: 15%;
} 
.series{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-left: 25%;
}
.series .cards1 , .cards2, .cards3{
  overflow: hidden;
  cursor: pointer;
  padding: 25px;
  margin: 15px;
  background-color: rgba(235, 232, 232, 0.726);
}
.series .cards1 > * , .cards2 > *, .cards3 > * {
  transition: .4s;
}
.series .figcaption{
   display: grid;
   align-items: end;
   font-family: "Libre Baskerville", serif;
   font-weight: 700;
   font-style: normal;
   font-size: 2.3rem;
   color: #0000;
}
.series .cards1:hover img , 
.cards2:hover img,
 .cards3:hover img{
  transform: scale(1.2);
 }

.series .cards1 img{
  margin-top: 6px;
  width: 110px;
  margin-left: 15px;
}
.series .cards2 img{
  width: 80px;
  margin-left: 15px;
}
.series .cards3 img{
  margin-left: 20px;
  margin-top: 8px;
  width: 80px
}
.scroll-bar{
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}
.scroll-bar h3{
  font-size: 21px;
  margin-top: 0;
  padding-top: 10%;
  padding-left: 15%;
}
.scroll-bar .box{
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;

}
.box .first-slice{
  width: 30%;
}
.box .first-slice:hover{
  background-color: rgba(194, 192, 192, 0.459);
}
.box .first-slice h5{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 17px;
    font: bold;
    padding-left: 25px;
}
.box .first-slice p{
  font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.box .visit{
  background-color: black;
  border: none;
  width: 85px;
  height: 55px;
  border-radius: 10px;
  margin: 20px;
}
.box .visit:hover{
  cursor: pointer;
}
.box .visit a{
  text-decoration: none;
    color:rgb(194, 192, 192);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.box .second-slice:hover{ background-color: rgba(194, 192, 192, 0.459);}
.box .second-slice{
  width: 30%;
}
.box .second-slice h5{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 17px;
    font: bold;
    padding-left: 25px;
}
.box .second-slice p{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.footer{
  background-color: black;
  color:rgb(185, 180, 180);
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  min-height: 400px;
  padding-bottom: 20px;
}
.footer .section h4{
  margin-top: 0;
}
#social{
  display: flex;
  margin-left: 10%;
  padding: 10%;
  padding-bottom: 50px;
}
#social .info{
 margin-left: 40px;
}
#social .info a{
  margin: 10px;
 }
 #social .info a:hover{
  color: white;
 }
 #social .info i{
  min-width: 50px;
 }
 #social .info a{
  text-decoration: none;
  color:rgb(185, 180, 180);
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  min-height: 400px;
 }
